# Node
node_modules/*
npm-debug.log
dist
coverage
coverage_js
ng2-input-autocomplete.ngsummary.json
app-build
bundles
ng2-input-autocomplete.js
ng2-input-autocomplete.d.ts
ng2-input-autocomplete.metadata.json
ng2-input-autocomplete.ngfactory.ts

# TypeScript
*.map
*.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
