# Node
node_modules/*
npm-debug.log
app
app-build
karma*.js
systemjs.*.js
tsconfig.*json
tslint.json
ng2-input-autocomplete.ts
ng2-input-autocomplete.ngfactory.ts
.ng2-config.js
protractor.conf.js
spec-bundle.js
webpack.config.js
.config
.config/*
.travis.yml

# DO NOT IGNORE TYPESCRIPT FILES FOR NPM
# TypeScript
# *.js
# *.map
# *.d.ts

# JetBrains
.idea
.project
.settings
.idea/*
*.iml

# Windows
Thumbs.db
Desktop.ini

# Mac
.DS_Store
**/.DS_Store
