<h1>{{name}}</h1>
<div>
  <h2>selected: {{selectedItem.toString()}}</h2>
</div>
<div>
  <h2>inputChanged: {{inputChanged.toString()}}</h2>
</div>
<h2>String:</h2>
<div>
  <input autocomplete [items]="items" (inputChangedEvent)="onInputChangedEvent($event)" (selectEvent)="onSelect($event)">
</div>
<h2>Objects:</h2>
<div>
  <input autocomplete [config]="config2" [items]="items2" (inputChangedEvent)="onInputChangedEvent($event)" (selectEvent)="onSelect($event)">
</div>
<h2>Wiki:</h2>
<div>
  <input autocomplete [items]="wikiItems" (inputChangedEvent)="search($event)" (selectEvent)="onSelect($event)">
</div>